<div class="banner-my-team">
    <h1 class="text-center padded-ultra-light"><strong>Mes équipes</strong></h1>
  <div class="container">
    <div class="row">
      <% if current_user.joined_teams.blank? %>
        <h2 class= "text-center">Vous n'avez pas encore d'équipe</h2>
      <% else %>
      <% current_user.joined_teams.each do |team| %>
          <div class="col-xs-12 col-sm-4 col-md-3 text-unstyled">
            <%= link_to teams_path(anchor: "team-#{team.id}") do %>
              <div class="text-center text-unstyled team-picture-link", style="background-size: cover; background-position: center; background-image: linear-gradient(-225deg, rgba(44, 44, 44, 0.6) 0%, rgba(44, 55, 63, 0.6) 50%), <% if team.photo.nil? %> url('<%= image_path "equipe.jpg" %>') <% else %> url('<%= cl_image_path team.photo.path, height: 220, width: 220, crop: :fill %>') <% end %>;">
                <h2><%= team.name %></h2>
              </div>
            <% end %>
          </div>
      <% end %>
      <% end %>
        <div class="col-xs-12 col-sm-4 col-md-3 text-unstyled">
          <%= link_to new_team_path do %>
          <div class="text-center team-picture-link add-team-text", style="background-size: cover; background-position: center; background-image: linear-gradient(-225deg, rgba(44, 44, 44, 0.6) 0%, rgba(44, 55, 63, 0.6) 50%), url('<%= image_path "equipe.jpg" %>');">
          <h2>+</h2>
          </div>
          <% end %>
        </div>
      </div>
    </div>
</div>

<div class="background-black">
<div class="container-full">
    <% if current_user.joined_teams.blank? %>
      <p>you have no teams</p>
     <% else %>
      <% current_user.joined_teams.each do |team| %>
      <div class="row" id="team-<%= team.id%>">
        <div class="col-xs-12 col-sm-6">
          <div class="banner-team-detail text-center" style="background-size: cover; background-position: center; background-image: linear-gradient(-225deg, rgba(44, 44, 44, 0.6) 0%, rgba(44, 55, 63, 0.6) 50%),
          <% if team.photo.nil? %> url('<%= image_path "equipe.jpg" %>')
          <% else %>
            url('<%= cl_image_path team.photo.path, width: 400, gravity:"auto", crop: :fill %>')
          <% end %>;">
            <div class="text-center">
             <h3><%= team.name %></h3>
             <p><%=team.description%></p>
            <div class="text-center">
              <% if policy(team).create_game? %>
                <%= link_to "Organiser un match", new_team_game_path(team), class:"button-orange button-orange-go text-center" %>
                <p class="color-white card-city"><%= team.city.upcase %></p>
              <% end %>
            </div>

            </div>
          </div>
          <div class="row">
            <% team.players.each do |player| %>
            <div class="col-xs-6 col-sm-4 col-md-3">
              <div class="text-center">
              <br>
                <% if player.photo.nil? %>
                  <%= image_tag "placeholder-md.png", class: "avatar-square" %>
                <% elsif player == team.captain %>
                    <%= cl_image_tag player.photo.path, class:"avatar-captain", width: 100, height: 100, gravity: :center, crop: :fill %>
                <% else %>
                  <%= cl_image_tag player.photo.path, class:"avatar-square", width: 100, height: 100, gravity: :center, crop: :fill %>
                <% end %>
                <div class="padded-top-light">
                  <h4 class="detail"><strong><%= player.username%></strong></h4>
                  <ul class="list-unstyled">
                  <li> Poste: <%= player.favorite_position%></lo>
                  <li>Age: <%= player.age%></li>
                  </ul>
                </div>
              </div>
            </div>
            <%end%>
            <div class="col-xs-6 col-sm-4 col-md-3">
              <%= link_to invitation_team_path(team) do %>
              <div class="text-center">
              <br>
                <%= image_tag "placeholder-md.png", class: "avatar-square add-player" %>
              </div>
              <% end %>
              <div class="padded-top-light">
                  <h4 class="detail text-center"><strong>Inviter un joueur</strong></h4>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-12 col-sm-6">
          <div class="row">
            <h2 class="text-center detail">Matchs à venir</h2>
            <%= render partial: "shared/games-list", collection: team.games.upcoming, as: :game, locals: {team: team}%>
          </div>
        </div>
      </div>
        <h2 class="text-center color-white">Résultats de la saison<strong>
               <% if team.games.where(status: "done").length == 0 %>
                 0
               <% else %>
                 <%= (team.wins.length.fdiv(team.games.where(status: "done").length)*100).round(1) %>
               <% end %>
             %</strong> de victoires</h2>
          <table class="container-table">
            <thead>
              <tr>
                <th><h1>Résultat</h1></th>
                <th><h1>Score</h1></th>
                <th><h1>Adversaire</h1></th>
                <th><h1>Date</h1></th>
              </tr>
            </thead>
            <tbody>
              <% team.games.each do |game| %>
                <% if game.status == "done" %>
                  <tr>
                  <% if game.winner_id == team.id %>
                    <td> Victoire </td>
                  <% else %>
                    <td> Defaite </td>
                  <% end %>
                    <td><%= game.winner_score %> - <%= game.loser_score %> </td>
                  <% if game.requester.id == team.id %>
                    <td><%= game.opponent.name %></td>
                  <% else %>
                    <td><%= game.requester.name %></td>
                  <% end %>
                    <td><%= l(game[:start_date], format: "%d/%m/%Y") %></td>
                      </tr>
                <% end %>
              <% end %>
            </tbody>
          </table>
          <br>
          <%= image_tag "LogoT82.png", class:"logo-footer"%>
          <hr>
      <% end %>
      <% end %>
</div>
</div>
