<div class="banner-my-team " style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%;">
  <div class="banner-content">
    <h1 class="text-center padded-light"><strong>Mes équipes</strong></h1>
    <p>Défie une équipe en créant un match et améliore tes statistiques</p>
  </div>
</div>

  <div>
  <% if current_user.joined_teams.blank? %>
  <p>you have no teams</p>
  <% else %>
  <% current_user.joined_teams.each do |team| %>
      <div class="card-team-gray">
        <div class="row">
          <div class="col-xs-12 col-sm-12">
            <div class="card-category text-center"> <h3> <%= team.name %></h3></div>
              <%= cl_image_tag current_user.photo.path, class:"avatar-square" %>
              <div class="card-description">

                  <ul class="list-unstyled">

                    <li><strong> Ville: </strong><%= team.city %></li>
                    <li><strong> Capitaine: </strong><%= User.find(team.captain_id).username %></li>
                    <li><strong> Description: </strong><%= team.description %></li>
                    <%= link_to "Organiser un match", new_team_game_path(team), class:"button-orange button-orange-go text-center" %>

                  <h2 class="text-center">Matchs à confirmer</h2>
                  <table class="container-table">
                    <thead>
                      <tr>
                        <th><h1>Adversaire</h1></th>
                        <th><h1>Statut</h1></th>
                        <th><h1>Action</h1></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% team.games.each do |game| %>
                      <tr>
                        <% if game.status == "pending" %>
                          <% if game.requester.id == team.id %>
                            <td><%= game.opponent.name %></td>
                            <td><%= game.status %></td>
                            <td> Waiting for <%= game.opponent.name %>'s answer </td>
                          <% else %>
                            <td><%= game.requester.name %></td>
                            <td><%= game.status %></td>
                            <% if policy(game).accept? %>
                              <td>  <%= link_to "Accept invitation", accept_game_path(game), method: :patch %>
                            <%= link_to "Reject invitation", reject_game_path(game), method: :patch %></td>
                          <% end %>
                          <% end %>
                        <% elsif game.status == "accept" %>
                          <% if game.requester.id == team.id %>
                            <td><%= game.opponent.name %></td>
                          <% else %>
                            <td><%= game.requester.name %></td>
                          <% end %>
                          <td><%= game.status %></td>
                          <td>No action required</td>
                        <% end %>
                      <% end %>
                    </tr>
                  </tbody>
                </table>

                  </ul>
              </div>
              <!-- <a class="card-link" href="team_path(team)" ></a> -->
            </div>
          </div>
        </div>


<h2 class="text-center">Tableau des résultats</h2>
<table class="container-table">
  <thead>
    <tr>
      <th><h1>Résultat</h1></th>
      <th><h1>Score</h1></th>
      <th><h1>Adversaire</h1></th>
      <th><h1>Date</h1></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Victoire</td>
      <td>88 - 120</td>
      <td>Miami Heat</td>
      <td>11/08/2016</td>
    </tr>
    <tr>
      <td>Defaite</td>
      <td>90 - 40</td>
      <td>Pacers</td>
      <td>12/05/2015</td>
    </tr>
  </tbody>
</table>
    <% end %>
  <% end %>

    </div>

