<body>
  <div id="square" class="">
    <div  id="leftSquare">
     </div>
    <div id="rightSquare">
      <h2 class="text-center padded-top">Création de mon équipe</h2>
        <%= simple_form_for(@team) do |f| %>
        <%= f.error_notification %>
          <div id="container-input" class="padded-top">
            <%= f.input :name, label: "Nom de l'équipe  🏐", required: true, autofocus: true, input_html: { class: 'form-input' } %>
            <%= f.input :city, label: "Ville", required: true, autofocus: true, input_html: { class: 'form-input' } %>
            <%= f.input :description, label: "Votre devise d'équipe", autofocus: true, input_html: { class: 'form-input' } %>
            <%= f.input :photo, as: :attachinary %>
          </div>
          <div>
                <%= f.button :submit, "Je crée mon équipe", class:"button-input button-black" %>
          </div>
        <% end %>
    </div>
  </div>
</body>
