<h1><strong>My team: <%= @team.name %></strong></h1>
<p><strong> City: </strong><%= @team.city %> </p>
<p><strong> Description: </strong><%= @team.description %></p>

<!-- show all players with pending invitations: -->
<!-- for each team where id = id current team, show player id where status = pending -->

<h3> Sent invitations (still pending): </h3>
<% @players_pending.each do |player| %>
<p> Username: <%= User.where(id: player.user_id)[0].username %></p>
<p> Email: <%= User.where(id: player.user_id)[0].email %></p>
<br>
<% end %>

<!-- Games request pending -->
<h3>Games requests pending</h3>
<% @team.games.each do |game| %>
  <div>
    <% if game.status == "pending" %>
      Opponent: <%= Team.find(game.team2_id).name %>
    <!-- accept invitation  -->
    <%= link_to "Accept game", "#", method: :patch, class: "btn btn-default" %>
    <!-- reject invitation -->
    <%= link_to "Reject game", "#", method: :patch, class: "btn btn-default" %>

    <% end %>
  </div>
<% end %>

<div class='alert'>
  <%= link_to "Back", teams_path, class:"btn btn-default" %>

  </div>
