
<div class="container background-team">
  <div class="content-page">
    <div class="team-name text-center">
      <h1><strong><%= @team.name %></strong></h1>
    </div>
    <div class="detail">
      <ul class="list-unstyled">
        <li><strong> Ville: </strong><%= @team.city %></li>
        <li><strong> Capitaine: </strong><%= @team.captain_id %></li>
        <li><strong> Description: </strong><%= @team.description %></li>
      </ul>

      <section class="page-content padded-light">
        <div class="flexbox">
          <% @players_accept.each do |player| %>
            <div class ="flexbox-item">
              <%= image_tag "logo.png", class:"avatar avatar-large" %>
                <p> Name: <%= User.find(player.user_id).username %></p>
                <br>
            </div>
              <% end %>
        </div>
  <%= link_to "Retour vers les équipes", teams_path(@team), class:"btn btn-default text-center" %>
      </section>
    </div>
  </div>
</div>



