<div class="container">

  <div class="padded-light text-center">
    <h2> MY PROFILE </h2>
  </div>

    <div class = "container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-2 col-sm-8">
        <div class="badge-bordered padded-light rounded bg-card-user xxx">
          <div class="padded-light">
            <%= cl_image_tag current_user.photo.path, class: "avatar-square-lg", size: "150x150"%>
          </div>
          <div class="padded-light">
            <p><strong>Username: </strong> <%= @profile.username %> </p>
            <p><strong>Age:</strong> <%= @profile.age %> </p>
            <p><strong>City:</strong> <%= @profile.city %> </p>
            <p><strong>Gender: </strong><%= @profile.gender %> </p>
            <p><strong>Description: </strong><%= @profile.description %> </p>
            <p><strong>Favorite position: </strong><%= @profile.favorite_position %> </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- invitations pending -->
  <div class="padded-light">
  <p> Invitation from teams: </p>

    <% @pending_teamusers.each do |teamuser| %>
    <p><%= Team.where(id: teamuser.team_id)[0].name %></p>
    <!-- accept invitation  -->
    <%= link_to "Accept", accept_team_user_path(teamuser), method: :patch, class: "btn btn-default" %>
    <!-- reject invitation -->
    <%= link_to "Reject", reject_team_user_path(teamuser), method: :patch, class: "btn btn-default" %>
    <% end %>
  </div>


    <div class='alert'>
      <%= link_to "Edit profile", edit_profile_path, class:"btn btn-default"%>
  </div>
