<h1> YOUR PROFILE </h1>

<p>Age <%= @profile.age %> </p>
<p>City <%= @profile.city %> </p>
<p>Gender <%= @profile.gender %> </p>
<p>Description <%= @profile.description %> </p>
<p>Favorite position <%= @profile.favorite_position %> </p>
