<div class="background-sign-form">
  <h1 class="text-center padded-top">Inscription</h1>
  <div class="padded-top form-wrapper center">
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <%= f.input :username, required: true, autofocus: true, label: "Nom du joueur", input_html: { class: 'form-input' } %>
      <%= f.input :email, required: true, autofocus: true, input_html: { class: 'form-input' } %>
      <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), label: "Mot de passe", input_html: { class: 'form-input' } %>
      <%= f.input :password_confirmation, required: true, label: "Confirmation du mot de passe", input_html: { class: 'form-input' } %>
      <%= f.input :photo, as: :attachinary, label: "Ajoutez une photo de vous à votre profil", class: "button-black" %>
      <div class="flexbox-center-container padded-light">
        <%= f.button :submit, "Je m'inscris", class:"button-orange" %>
      </div>
    <% end %>
  </div>
</div>


