<div class="text-center padded-light">
  <h1> All players </h1>
</div>

<div class="container">
      <div class="col-xs-4 col-sm-12">
        <form class="form-inline">
          <div class="form-group form-group-lg">
            <label for="team-city"></label>
              <%= form_tag users_path, :method => 'get' do %>
                <p>
                  <%= text_field_tag :city%>
                  <%= submit_tag "Search", class:"btn btn-default"%>
                </p>
              <% end %>
          </div>
        </form>
      </div>
</div>

<div class="container">
  <div class="row padded-light">
  <% @users.each do |u| %>
    <div class="col-xs-6 col-sm-4">
      <div class="padded-light">
      <div class="badge-bordered padded-light rounded bg-card-user text-center">
        <%= image_tag "logo.png",size: "100x100" %>
        <p><strong>Username: </strong><%= u.username %> </p>
        <p><strong>City: </strong><%= u.city %> </p>
        <p><strong>Gender: </strong><%= u.gender %> </p>
      <div>
        <%= link_to "View", user_path(u), class:"btn btn-default" %>
        <%= link_to "Invite", user_path(u), class:"btn btn-success" %>
      </div>
    </div>
    </div>
  </div>
  <% end %>
</div>
</div>
