<div class="text-center padded-light">
  <h1> All players </h1>
</div>
<div class="container">
      <div class="col-xs-4 col-sm-12">
        <form class="form-inline padded-light">
          <div class="form-group form-group-lg">
            <label for="team-city"></label>
              <%= form_tag users_path, :method => 'get' do %>
                <p>
                  <%= text_field_tag :city%>
                  <%= submit_tag "Search", class:"btn btn-default"%>
                </p>
              <% end %>
          </div>
        </form>
      </div>
</div>


<div>
  <% @users.each do |u| %>
    <div class="badge-bordered padded-light rounded bg-grey">
      <div class="card-user">
        <div>
          <%= image_tag "logo.png",size: "100x100" %>
        </div>
        <div>
          <p><strong>Username: </strong><%= u.username %> </p>
          <p><strong>Email: </strong><%= u.email %> </p>
          <p><strong>Age: </strong><%= u.age %> </p>
        </div>
        <div>
          <p><strong>City: </strong><%= u.city %> </p>
          <p><strong>Gender: </strong><%= u.gender %> </p>
          <p><strong>Description: </strong><%= u.description %> </p>
          <p><strong>Favorite position: </strong><%= u.favorite_position %> </p>
        </div>
      </div>
      <div class='alert'>
        <%= link_to "View", user_path(u), class:"btn btn-default" %>
      </div>
    </div>

  <% end %>

</div>
