
  <div class="padded-light text-center">
    <h1> Hey, I'm <%= @user.username%>!</h1>
  </div>

  <div class = "container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-2 col-sm-8">
        <div class="badge-bordered padded-light rounded bg-card-user xxx">
          <div class="padded-light">
            <%= image_tag "logo.png", class: "thumbnail", size: "150x150"%>
          </div>
          <div class="padded-light">
            <p><strong>Username: </strong> <%= @user.username %> </p>
            <p><strong>Age:</strong> <%= @user.age %> </p>
            <p><strong>City:</strong> <%= @user.city %> </p>
            <p><strong>Gender: </strong><%= @user.gender %> </p>
            <p><strong>Description: </strong><%= @user.description %> </p>
            <p><strong>Favorite position: </strong><%= @user.favorite_position %> </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class='alert'>
    <%= link_to "See all players", users_path, class: "btn btn-default" %>
    <%= link_to "Invite player", class: "btn btn-default", controller: "team_users", action: "new", user_id: @user.id %>
  </div>

<!-- new_team_user_path -->
