<h1>Profile of <%= @user.username%></h1>

<%= @user.username %>
<%= @user.email %>
<%= @user.age %>
<%= @user.city %>
<%= @user.gender %>
<%= @user.description %>
<%= @user.favorite_position %>
<br>
<%= link_to "See all players", users_path %>


