<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-offset-4 col-sm-4">
      <div class="padded-light bg-card-user registration-margin">
        <h2>Create your team</h2>

        <%= simple_form_for([:captain, @team]) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :name, required: true, autofocus: true %>
            <%= f.input :city, required: true, autofocus: true %>
            <%= f.input :description, autofocus: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Create" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
