<h1><strong>My team: <%= @team.name %></strong></h1>
<p><strong> City: </strong><%= @team.city %> </p>
<p><strong> Description: </strong><%= @team.description %></p>

<!-- show all players with pending invitations: -->
<!-- for each team where id = id current team, show player id where status = pending -->

<h3> Sent invitations (still pending): </h3>
<% @players_pending = TeamUser.where(team_id: @team.id, status: "pending") %>
<% @players_pending.each do |player| %>
<p> Username: <%= User.where(id: player.user_id)[0].username %></p>
<p> Email: <%= User.where(id: player.user_id)[0].email %></p>
<br>
<% end %>


<div class='alert'>
      <%= link_to "Home", root_path, class:"btn btn-default" %>
      <%= link_to "All teams", users_path, class:"btn btn-default" %>
      <%= link_to "All players", users_path, class:"btn btn-default" %>
      <%= link_to "My profile", profile_path, class:"btn btn-default" %>
      <%= link_to "My teams", captain_teams_path, class:"btn btn-default" %>
  </div>
