<h1><strong>My team: <%= @team.name %></strong></h1>
<p><strong> City: </strong><%= @team.city %> </p>
<p><strong> Description: </strong><%= @team.description %></p>

<div class='alert'>
      <button type="button" class="btn btn-default"><%= link_to "Home", root_path %></button>
      <button type="button" class="btn btn-default"><%= link_to "All teams", users_path %></button>
      <button type="button" class="btn btn-default"><%= link_to "My profile", profile_path %></button>
      <button type="button" class="btn btn-default"><%= link_to "My teams", captain_teams_path %></button>
  </div>
